In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import sklearn_pandas

In [2]:
df=pd.read_csv("../input/measurement/measurement_problems/datasets/course_reviews.csv")
df.head()

,Rating,Timestamp,Enrolled,Progress,Questions Asked,Questions Answered
0,5.0,2021-02-05 07:45:55,2021-01-25 15:12:08,5.0,0.0,0.0
1,5.0,2021-02-04 21:05:32,2021-02-04 20:43:40,1.0,0.0,0.0
2,4.5,2021-02-04 20:34:03,2019-07-04 23:23:27,1.0,0.0,0.0
3,5.0,2021-02-04 16:56:28,2021-02-04 14:41:29,10.0,0.0,0.0
4,4.0,2021-02-04 15:00:24,2020-10-13 03:10:07,10.0,0.0,0.0

In [3]:
df["Timestamp"]=pd.to_datetime(df["Timestamp"])
current_date=pd.to_datetime('2021-3-1 0:0:0')
df["days"]=(current_date-df["Timestamp"]).dt.days

In [4]:
df.loc[df["days"]<30,"Rating"].mean()

4.73015873015873

In [28]:
def time_mean(dataframe,w1=22,w2=28,w3=24,w4=26):
    return dataframe.loc[dataframe["days"] <30 , "Rating"].mean() * w1 /100 + \
    dataframe.loc[(dataframe["days"]>30)  & (dataframe["days"]<60) , "Rating"].mean() * w2 /100 + \
    dataframe.loc[(dataframe["days"]>60)  & (dataframe["days"]<90) , "Rating"].mean() * w3 /100 + \
    dataframe.loc[(dataframe["days"]>90)  & (dataframe["days"]<120) , "Rating"].mean() * w4 /100 
def user_average(dataframe,w1=22,w2=28,w3=24,w4=26):
    dataframe.loc[dataframe["Progress"]>]

In [5]:
df.loc[df["days"],"Rating"].mean()

4.775271801989359

In [6]:
df.head()

,Rating,Timestamp,Enrolled,Progress,Questions Asked,Questions Answered,days
0,5.0,2021-02-05 07:45:55,2021-01-25 15:12:08,5.0,0.0,0.0,23
1,5.0,2021-02-04 21:05:32,2021-02-04 20:43:40,1.0,0.0,0.0,24
2,4.5,2021-02-04 20:34:03,2019-07-04 23:23:27,1.0,0.0,0.0,24
3,5.0,2021-02-04 16:56:28,2021-02-04 14:41:29,10.0,0.0,0.0,24
4,4.0,2021-02-04 15:00:24,2020-10-13 03:10:07,10.0,0.0,0.0,24

In [18]:
def time_avarage(dataframe,w1=22,w2=28,w3=26,w4=24):
    return dataframe.loc[dataframe["days"]<30,"Rating"].mean() * w1/100 + \
    dataframe.loc[(dataframe["days"]>30) & (dataframe["days"]<60) ,"Rating" ].mean() * w2/100 + \
    dataframe.loc[(dataframe["days"]>60) & (dataframe["days"]<90) ,"Rating" ].mean() * w3/100 + \
    dataframe.loc[(dataframe["days"]>90) & (dataframe["days"]<120) ,"Rating" ].mean() * w4/100
def user_avarage(dataframe,a1=28,a2=21,a3=29,a4=22):
    return dataframe.loc[dataframe["Progress"]<10 , "Rating"] .mean() *a1/100 +\
    dataframe.loc[(dataframe["Progress"]>10) & (dataframe["Progress"]<40) ,"Rating"] .mean() * a2/100 +\
    dataframe.loc[(dataframe["Progress"]>40) & (dataframe["Progress"]<65) ,"Rating"] .mean() *a3/100 +\
    dataframe.loc[(dataframe["Progress"]>65) & (dataframe["Progress"]<100) ,"Rating"].mean() *a4/100

In [15]:
time_avarage(df)

4.758972756193472

In [19]:
user_avarage(df)

4.78442288427805

In [21]:
df.columns

Index(['Rating', 'Timestamp', 'Enrolled', 'Progress', 'Questions Asked',
       'Questions Answered', 'days'],
      dtype='object')

### Derecelendirmeye göre basit sıralama

In [2]:
df=pd.read_csv("../input/measurement/measurement_problems/datasets/product_sorting.csv")
df.head()

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10

In [12]:
df.sort_values("commment_count",ascending=False).head(3)
# Yorum sayısına göre sıralar

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67

In [3]:
df.sort_values("purchase_count",ascending=False).head(3)
# Satın alma sayısına göre sıralar

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45
11,Course_3,Instructor_4,24809,4.3,250,95,87,51,12,5
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24

# Genel Sıralama
Bütün değerlere 1-5 arasında değerlendirip ona göre işlem yaparız.

In [1]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as st

In [14]:
[col for col in df.columns if df[col].dtypes in ["int64","float64"]]

['purchase_count',
 'rating',
 'commment_count',
 '5_point',
 '4_point',
 '3_point',
 '2_point',
 '1_point']

In [4]:
df["purchase_count_scale"]=MinMaxScaler(feature_range=(1, 5)).fit(df[["purchase_count"]]).transform(df[["purchase_count"]])

In [5]:
df["comment_count_scale"]=MinMaxScaler(feature_range=(1,5)).fit(df[["commment_count"]]).transform(df[["commment_count"]])

In [140]:
df.head(3)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scale,comment_count_scale,purchase_comment_score,ortalama_scale
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,3.462808,4.177024
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.953879,4.804257
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,2.744748,3.441483

In [6]:
df["purchase_comment_score"]=(df["comment_count_scale"]*40/100 )+(df["purchase_count_scale"]*60/100)

In [20]:
df.head(3)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scale,comment_count_scale,purchase_comment_score
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,3.462808
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.953879
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,2.744748

In [142]:
df.head(3)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scale,comment_count_scale,purchase_comment_score,ortalama_scale
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,3.462808,4.177024
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.953879,4.804257
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,2.744748,3.441483

# Sıralamanın Fonksiyonlaştırılması

In [7]:
# Yeni satın alınma sayısı oluşturup ratinge göre oranladık yani 5 üzerinden
df["purchase_count_scale"]=MinMaxScaler(feature_range=(1, 5)).fit(df[["purchase_count"]]).transform(df[["purchase_count"]])
#Yeni yorum sayısı oluşturup ratinge göre oranladık (5 üzerinden)
df["comment_count_scale"]=MinMaxScaler(feature_range=(1,5)).fit(df[["commment_count"]]).transform(df[["commment_count"]])

In [8]:
def ortalama_scale(dataframe,w1=29,w2=31,w3=40):
    return (dataframe["purchase_count_scale"] *w1/100 + \
    dataframe["comment_count_scale"] *w2/100 + \
    dataframe["rating"] *w3/100)

In [9]:
df["ortalama_scale"]=ortalama_scale(df)

In [139]:
df.head(3)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scale,comment_count_scale,purchase_comment_score,ortalama_scale
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,3.462808,4.177024
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.953879,4.804257
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,2.744748,3.441483

In [10]:
df.sort_values("ortalama_scale",ascending=False).head(4)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scale,comment_count_scale,purchase_comment_score,ortalama_scale
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.953879,4.804257
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,3.462808,4.177024
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67,2.070512,3.916342,2.808844,3.614514
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,2.744748,3.441483

# Bayes Ortalama
- 5 yıldızlı sistemlerde ürün sıralama
- puan dağılımlarına göre ürünleri sıralar.

In [13]:
def bayesian_average_rating(n, confidence=0.95):
    if sum(n) == 0:
        return 0
    к = len(n)
    Z = st.norm.ppf(1 - (1 - confidence) / 2)
    N = sum(n)
    first_part = 0.0
    second_part = 0.0
    for k, n_k in enumerate(n):
        first_part += (k + 1) * (n[k] + 1) (N + К)
        second_part += (k + 1) * (k + 1) * (n[k] + 1) / (N + К)
    score = first_part - z * math. sqrt (second_part- first_part * first_part) / (N + K + 1)
    return score

df.head(3)

In [ ]:
def hybrid_sorting_score

In [ ]:
df["bar_score"]=df.apply(lambda x: bayesian_average_rating[x["1_point","2_point",
                                                        "3_point",
                                                       "4_point",
                                                        "5_point"]],axis=1)

# Hybrid Sorting
bar + Diğer yöntemler

### IMDB Puanlama

In [4]:
df=pd.read_csv("../input/measurement/measurement_problems/datasets/movies_metadata.csv")
df.head(3)

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [8]:
from sklearn.preprocessing import MinMaxScaler
df=df[["title","vote_average","vote_count"]]

In [37]:
df.head()

                         title  vote_average  vote_count
0                    Toy Story           7.7      5415.0
1                      Jumanji           6.9      2413.0
2             Grumpier Old Men           6.5        92.0
3            Waiting to Exhale           6.1        34.0
4  Father of the Bride Part II           5.7       173.0

In [39]:
df.describe().T

                count        mean         std  min  25%   50%   75%      max
vote_average  45460.0    5.618207    1.924216  0.0  5.0   6.0   6.8     10.0
vote_count    45460.0  109.897338  491.310374  0.0  3.0  10.0  34.0  14075.0

In [50]:
df.sort_values("vote_average",ascending=False).head(3)

,title,vote_average,vote_count
21642,Ice Age Columbus: Who Were the First Americans?,10.0,1.0
15710,If God Is Willing and da Creek Don't Rise,10.0,1.0
22396,Meat the Truth,10.0,1.0

In [59]:
df["vote_ort"]=orta(df)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [60]:
df.head()

                         title  vote_average  vote_count  IMDB_puan vote_ort
0                    Toy Story           7.7      5415.0       7.93     None
1                      Jumanji           6.9      2413.0       7.21     None
2             Grumpier Old Men           6.5        92.0       6.85     None
3            Waiting to Exhale           6.1        34.0       6.49     None
4  Father of the Bride Part II           5.7       173.0       6.13     None

In [9]:
df["vote_avg_ort"]=MinMaxScaler(feature_range=(1,10)).fit(df[["vote_average"]]).transform(df[["vote_average"]])

In [10]:
df["vote_count_ort"]=MinMaxScaler(feature_range=(1,10)).fit(df[["vote_count"]]).transform(df[["vote_count"]])

In [65]:
df.head()

,title,vote_average,vote_count,IMDB_puan,vote_ort,vote_avg_ort,vote_count_ort
0,Toy Story,7.7,5415.0,7.93,None,7.93,4.462522
1,Jumanji,6.9,2413.0,7.21,None,7.21,2.542948
2,Grumpier Old Men,6.5,92.0,6.85,None,6.85,1.058828
3,Waiting to Exhale,6.1,34.0,6.49,None,6.49,1.021741
4,Father of the Bride Part II,5.7,173.0,6.13,None,6.13,1.110622

In [11]:
def orta(dataframe,w1=60,w2=40):
    return df["vote_avg_ort"]*w1/100 + \
    df["vote_count_ort"]*w2/100

In [78]:
orta(df)

In [12]:
df["IMDB"]=orta(df)

In [13]:
df.sort_values("IMDB",ascending=False).head(15)

,title,vote_average,vote_count,vote_avg_ort,vote_count_ort,IMDB
15480,Inception,8.1,14075.0,8.29,10.000000,8.974000
12481,The Dark Knight,8.3,12269.0,8.47,8.845187,8.620075
22879,Interstellar,8.1,11187.0,8.29,8.153321,8.235329
17818,The Avengers,7.4,12000.0,7.66,8.673179,8.065272
14551,Avatar,7.2,12114.0,7.48,8.746075,7.986430
2843,Fight Club,8.3,9678.0,8.47,7.188419,7.957368
26564,Deadpool,7.4,11444.0,7.66,8.317655,7.923062
20051,Django Unchained,7.8,10297.0,8.02,7.584227,7.845691
23753,Guardians of the Galaxy,7.9,10014.0,8.11,7.403268,7.827307
314,The Shawshank Redemption,8.5,8358.0,8.65,6.344369,7.727748
292,Pulp Fiction,8.3,8670.0,8.47,6.543872,7.699549
4863,The Lord of the Rings: The Fellowship of the Ring,8.0,8892.0,8.20,6.685826,7.594330
2458,The Matrix,7.9,9079.0,8.11,6.805400,7.588160
351,Forrest Gump,8.2,8147.0,8.38,6.209449,7.511780
7000,The Lord of the Rings: The Return of the King,8.1,8226.0,8.29,6.259964,7.477986

## IMDB Kendi Yöntemi
(v/(v+m) *r +(m/(v+m)*c)

In [27]:
def imdb_rating(v,r,m=2500,c=5.6):
    return (v/(v+m) *r +(m/(v+m)*c))

In [30]:
imdb_rating(7.4,12000,2500,5.6)

40.99864401371939

In [31]:
imdb_rating(8.10,14075,2500,5.6)

51.03763805270922

In [32]:
imdb_rating(8.5,8358,2500,5.6)

33.9019334263504

## Yorumları Sıralama

In [59]:
import scipy.stats as st
import math

###  Up - Down 
like - disslike olarak düşünebiliriz.

In [34]:
def up_down(up,down):
    return up- down

- örnek:
1. kullanıcı= 600 like 400 disslike
2. kullanıcı= 5500 like 4500 disslike

In [46]:
up_down(600,400) ,\
up_down(5500,4500)
# 2. sıradaki yorum'un daha üste çıkacağı düşünülse de yüzdelik olarak oranladığımız zaman 1. kullanıcı %60-%40 iken 2. kullanıcı %55-%45 
# yani 1.kullanıcının yorumu daha üstte olur.

(200, 1000)

### Average Rating
like sayısının toplama oranını gösterir.

In [47]:
def average_comment(up,down):
    return up /(up+down)

In [49]:
average_comment(600,400) ,\
average_comment(5500,4500)

(0.6, 0.55)

# wilson Alt Sınır Puanı(Kullanmamız gereken yöntem)

In [60]:
def Wilson_lower_bound(up,down,confidence=0.95):
    n = up + down
    if n== 0:
        return 0
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    phat = 1* up/n 
    return (phat +z * z / (2 * n) - z * math.sqrt((phat * (1 - phat) +z*z / (4*n)) /n)) / (1+z*z/n)

In [61]:
Wilson_lower_bound(600,400) ,\
Wilson_lower_bound(5500,4500)

(0.5693094295142663, 0.5402319557715324)